h1 {
    background-color: red;
    font-family: Impact;
    color: white;
    text-align: center;
    background-image: url(./img/baef92f4-e35c-42af-8a00-2b2c331f4b39.jpg);
    height: 600px;
    background-size: cover;
}

div {
    background-color: green;
    width: 60%;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: red;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    background-color: white;
    color: red;
    font-style: italic;
}
